<main class="main">
    <form class="form js_form">
        <input class="form__input js_input" type="text" placeholder=" Escribe aquí tu serie">
        <input class="form__button js_button" type="submit" value="Search">
    </form>
    <article class="series">
        <ul class="favourites js_favourites">
            <h3 class="favourites__title">Tus series favoritas</h3>
            <li class="favourites__series js_favElements" >
                <div class="favourites__elements">
                    <img class="favourites__elements--image js_favImage" src="" alt="Cartel de la serie">
                    <p class ="favourites__elements--series js_favSeries">Título de la serie</p>
                </div>
                <i class ="favourites__button">X</i>
            </li>
            
        </ul>
        <ul class="list js_list">
        </ul>
    </article>
</main>
