<main class="main">
    <form class="form js_form">
        <input class="form__input js_input" type="text" placeholder=" Escribe aquí tu serie">
        <input class="form__button js_button" type="submit" value="Search">
    </form>
    <article class="series">
        <h3 class="favourites__title">Tus series favoritas</h3>
        <ul class="favourites js_favourites">
        </ul>
        <button class="favourites__reset hidden js_reset">Reset</button>
        <ul class="list js_list">
        </ul>
    </article>
</main>
