// fonts
$font_title: 'Bodoni Moda', serif;
$font-main: 'Lato', sans-serif;
// colors
$white :rgb(255, 223, 143) ;
$yellow: rgb(255, 182, 0);
$lightbrown: rgb(205, 107, 0);
$orange: rgb(255, 80, 1);
$redbrown:  rgb(149, 37, 15);
$brown: rgb(71, 36, 8);

//Mixins
@mixin series__image{
    height: 140px;
    width: 100px;
    padding: 5px;
}

@mixin button{
    height: 15px;
    width: 8ch;
    background-color: $brown;
    border-radius: 5px;
    box-sizing: content-box;
    padding: 10px;
    font-weight: bold;
    color: $orange;
    &:hover{
        background-color: $lightbrown;
        color: $yellow;
    };
}