body{
    background-color: $white;
    height: 100vh;
}

.page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    padding: 20px, 20px, 0, 20px;
    font-family: $font-main;
}
