.page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    padding: 20px;
    background-color: $white;
    min-height: 100vh;
    font-family: $font-main;
}
