
.footer{
    grid-column: 1/5 ;
    position: fixed;
    bottom: 0px;    
    background-color: $yellow;
    height: 30px;
    width: 100%;
    &__copy{
        display: flex;
        column-gap: 10px;
        font-size: 10px;
        margin: 10px 10px;
        justify-content: right;
    }
}
