
.footer{
    position: fixed;
    bottom: 0px;
    background-color: $yellow;
    height: 30px;
    width: 100vw;
    &__copy{
        display: flex;
        column-gap: 10px;
        font-size: 15px;
        font-weight: bolder;
        margin: 10px 40px;
        justify-content: right;
    }
}
