
.main{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;

}

.form{
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;

    &__input{
        background-color: $lightbrown;
        height: 35px;
        border-radius: 5px;
        text-align: center;
        color: $brown;
        font-size: 18px;
        &::placeholder{
            color: $yellow;
        }
        }
    &__button{
        height: 15px;
        width: 8ch;
        padding: 10px;
        border-radius: 5px;
        @include button;
    }
}

.series{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px ;
}

.list{
    grid-column: 2/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    @media  (min-width: 1200px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    
        &--image{
            @include series__image;
            background-color: $lightbrown;
            &:hover{
                background-color: $redbrown;
            }
            &__clicked{
                @include series__image;
                background-color: $redbrown;
                
                &:hover{
                    background-color: $lightbrown;
                }
            }
        }
        &--series{
            color: $lightbrown;
            margin-bottom: 20px;
            font-weight: bold;
            &__clicked{
                color: $redbrown;
                margin-bottom: 20px;
                font-weight: bold;
            }
        }
    }
}

.favourites__elements{
    grid-row: 1/3;
    display: flex;
    &--title{
        text-align: center;
        font-weight: bolder;
        font-size: 2em;
        color: $lightbrown;
        margin: auto;
        padding-bottom: 5px;
        border-bottom: solid $brown 2px;
    }
    
    &--reset{
        margin: auto;
        font-size: 15px;
        height: 15px;
        width: 6ch;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 10px;
        @include button;
    }
}


.favourites{
    grid-column: 1/2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 90px;
    border-right: solid $brown 1px;

    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr;
    }
    &__series{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        padding: 10px;
    }
    &__elements{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        &--image{
            height: 50px;
            width: 34px;
            margin: auto;
            background-color:$lightbrown;
            padding: 2px;
            @media  (min-width: 768px){
                height: 112px;
                width: 76px;
            }
        }
        &--series{
            color: $lightbrown;
            padding: 5px;
            text-align: center;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $lightbrown;
        font-size: 10px;
        width: 20px;
        height: 20px;
        background-color: $brown;
        border-radius: 50%;
        margin-bottom: 5px;
        &:hover{
            background-color: $yellow;
        }
    }
}

//Modifiers

.hidden{
    display: none;
}