
.form{
    display: flex;
    &__input{
        background-color: lightgray;
        height: 25px;
        text-align: center;
        color: darkslategray;
        ::placeholder{
            color: lightslategray;
        }
    }
    &__button{
        background-color: grey;
        padding: 10px;
    }
}

.series{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list{
    display: grid;
    grid-column: 2,5;
    &__elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
        &--image{
            height: 140px;
            width: 100px;
            background-color: ivory;
        }
        &--series{
            margin-bottom: 20px;
        }
    }
}

.favourites{
    display: flex;
    
    &__elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
            &--image{
                height: 70px;
                width: 50px;
                background-color: ivory;
            }
        }
}
.hidden{
    display: none;
}